<div *ngIf="users.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Cell</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.cell }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.dob | date }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.active ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p>No users available.</p>
</ng-template>



